$rounded: 5px;
$rounded_sm: $rounded * 1;
$rounded_md: $rounded * 1.5;
$rounded_lg: $rounded * 2;
$rounded_xl: $rounded * 2.5;

$spacing: 5px;
$spacing_sm: $spacing * 1;
$spacing_md: $spacing * 2;
$spacing_lg: $spacing * 3;
$spacing_xl: $spacing * 4;
